.drop_down{
    list-style: none;
    background-color: #fff;
    width: 10rem;
    padding: 10px;
    /* margin-top: 5px; */
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 8px 15px 0px;
    display: block;
    position: absolute;
}

.drop_down_clicked{
    display: none;
}


.drop_down li{
  padding: 5px;
    border-bottom: solid 2px white;
    border-radius: 5px;
    background-color: #030F6D;
}

/* .drop_down li:hover{
    border-left: solid 5px #2aa006;
} */

.drop_down li a{
    text-decoration: none;
    color: #ffff;
    font-size: 1em;
}

.drop_down li a:hover{
    color:#ffff;
   
}