.features {
    background: #e3f2fd;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  
  .feature-cards {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    gap: 15rem;
  }
  