body{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ffff;
  /* background: #f4f6f8; */
}

body::-webkit-scrollbar{
  display: none;
}

.App{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

